# Virtual environment
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
celerybeat-schedule
test_payload.json
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
test_payload.json